.book-item {
    display: grid;
    grid-template-columns: 1fr .25fr;
    width: 50%;
    margin-bottom: 12px;
}

.book-item:hover {
    border-bottom: 1px solid #000 
}
.book-title-item {
    grid-column: 1;
    grid-row: 1;
}

.book-author-item {
    grid-column: 1;
    grid-row: 2;
}

.book-item-like {
    grid-column: 2;
    grid-row: 1/2;
}

.svg-wrap {
    width: 40;
    height: 40;
}

.book-like-button:hover {
    border-right: 1px solid #008CFF;
    cursor: pointer;
}
.book-like-button {
    background-color: white;
    text-align: center;
    border: none;
    text-decoration:none;
}

