.links {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-item a {
    text-decoration: none;
    color: white;
    fill: white;
}

footer {
    background: #6815E5;
    color: white;
    padding: 5px;
    grid-template-columns: 25% 50% 15%;
    grid-row: 3 / 4;
    padding-top: 10px;
}