.main {
    grid-row: 2;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 28px;
} 

.user-books {
    list-style: none;
    padding-left: 20px;
}

.book-table {
    grid-column: 1;
}

.search {
    grid-column: 3;
}

.selected-book {
    grid-row: 1;
    grid-column: 2;
}