body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

#app {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-gap: 16px;
  height: 100vh;
  width: 100vw;
}
/* ============= HEADER ====================== */

header {
  grid-row: 1;
  grid-column: 1 / 4;
  grid-template-columns: 25% 50% 25%;
  padding-top: 10px;
}

/* ============= MAIN ======================== */
main {
  grid-row: 2;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
} 
.book-wrapper {
  display: grid;
  grid-template-columns: 5% 42.5% 5% 42.5% 5%;
}

.existing-books {
  grid-column: 2 / 2;
}

.add-new-book {
  grid-column: 4 / 4;
}

.find-book {
  grid-column: 2 / 3;
  grid-row: 2;

}
.searched-book {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1 2fr;
  grid-gap: 1em;
  justify-items: flex-start;
  list-style: none;
  margin: 0;
}
#cover {
  justify-self: center;
  margin-top: 25px;
}
#description {
  grid-row: 2;
  grid-column: 1 / 3;
  overflow: auto;
  height: 200px;
}

#add-button {
  grid-column: 1 / 3;
}
.written {
  text-align: center;
  padding-top: 17px;
}

/*=============== LOGIN ====================== */
.login-wrapper {
  grid-column: 1 / 4;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/booksOpt.jpg');
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.login {
  grid-column: 1 / 4;
  justify-self: center;
  align-self: center;
  background-color: #A8AAFF;
  border: 1px solid black;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  width: 300px;
  display: grid;
  grid-gap: 16px;
}
.title {
  padding: 0px 10px;
}
.login-form, label {
  grid-column: 1 / 2;
}
.login-form, input {
  grid-column: 1 / 3;
}
.submit {
  grid-column: 1 / 2;
  width: 100%;
}
.login-link {
  grid-column: 2 / 2;
  width: 100%
}

/* ============= FOOTER ====================== */
.links {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-item a {
  text-decoration: none;
  color: black;
  fill: black;
}
footer {
  grid-row: 3;
  grid-column: 1 / 4;
  padding: 5px;
  grid-template-columns: 25% 50% 15%;
  padding-top: 10px;
}