body {
  margin: 0;
  padding: 0;
}


#root {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}
#app {
  height: 0;
}

/* ============= HEADER ====================== */

header {
  display: grid;
  grid-row: 1 / 3;
  grid-template-columns: 25% 50% 15%;
  grid-template-rows: 50% 50%;
  padding-top: 10px;
}

/* ============= MAIN ======================== */
main {
  
  height: 70vh;
  width: 100vw;
  background-color: #eeeeee;
}
.book-wrapper {
  display: grid;
  grid-template-columns: 5% 42.5% 5% 42.5% 5%;
}

.existing-books {
  grid-column: 2 / 2;
}

.add-new-book {
  grid-column: 4 / 4;
}

.find-book {
  grid-column: 2 / 3;
  grid-row: 2;

}
.searched-book {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1 2fr;
  grid-gap: 1em;
  justify-items: flex-start;
  list-style: none;
  margin: 0;
}
#cover {
  justify-self: center;
  margin-top: 25px;
}
#description {
  grid-row: 2;
  grid-column: 1 / 3;
  overflow: auto;
  height: 200px;
}

#add-button {
  grid-column: 1 / 3;
}
.written {
  text-align: center;
  padding-top: 17px;
}

/*=============== LOGIN ====================== */
.login {
  display: grid;
  grid-column: 2 / 5;
  align-self: center;

}
.login-title {
  display: grid;
  grid-column: 2 / 2;
}

.login-group {
  grid-column: 4 / 4;
  width: 300px;
  border: 1px solid black;

}
.login-form {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.login-form, label {
  grid-column: 1 / 3;
}
.email-input {
  grid-column: 1 / 3;
}
.password-input {
  grid-column: 1 / 3;
}

.submit {
  grid-column: 1 / 2;
  width: 100%;
}
.register {
  grid-column: 2 / 3;
  width: 100%;
}

/* ============= FOOTER ====================== */
.links {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-item a {
  text-decoration: none;
  color: black;
  fill: black;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 5px;
  display: grid;
  grid-template-columns: 25% 50% 15%;
  grid-template-rows: 50% 50%;
  padding-top: 10px;
}