.landing-wrapper {
    display: grid;
    grid-template-rows: 5fr 3fr 2fr;
    grid-gap: 32px;
    height: 100%;
}

.top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
}

.title {
    display: grid;
}

#shelf {
    font-size: 8em;
}

.title-copy {
    display: grid;
    align-items: center;
    font-size: 1.25em;
}

.links {
    justify-self: end;
    grid-column: 3;
}
.landing-links {
    border: none;
    background-color: white;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:sans-serif;
    font-size: 1.25em;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
}

.landing-links:hover {
    text-decoration: underline #8331FF;
}

.mid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    justify-items: center;
    text-align: center;
}

.first {
    display: grid;
    width: 300px;
    grid-template-rows: 1fr 1fr 2fr;
    justify-items: center;
}

.second {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    justify-items: center;
    width: 300px;

}

.third {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    justify-items: center;
    width: 300px;
}

.heading {
    text-decoration: underline #8331FF;
}

.bottom {
    display: grid;
    justify-content: center;
}
.links-bot {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}
#cta {
    justify-self: center;
    font-size: 1.25em;
}
