.selected-book {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 12px;
}

.book-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 12px; 
}

.book-body {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
}

.user-book-body {
    display: grid;
    grid-gap: 10px;
}

.add-button {
    height: auto;
    width: auto;
    border: none;
    background-color: #1ecd97;
    color: white;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:sans-serif;
    font-size: 1em;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
}

.add-button:hover {
    color: white;
    background-color: #5FD5B1;
}

.remove-button {
    height: auto;
    width: auto;
    border: none;
    background-color: #F22B0F;
    color: white;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:sans-serif;
    font-size: 1em;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
}

.remove-button:hover {
    color: white;
    background-color: #F46C58;
}

.update-button {
    height: auto;
    width: auto;
    border: none;
    background-color: #8331FF;
    color: white;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:sans-serif;
    font-size: 1em;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
}

.update-button:hover {
    color: white;
    background-color: #762CE5;
}

.like-button {
    height: auto;
    width: auto;
    border: none;
    color: white;
    background-color: #008CFF;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:sans-serif;
    font-size: 1em;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
}

.like-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
}